<h1 mat-dialog-title class="title">Hi!</h1>
<div mat-dialog-content class="details">
  <p>{{paragraphText}}</p>
  <p class="p-text">{{warningText}}</p>
  <form #addTodoForm="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="pickerDate" [(ngModel)]="date" [min]="todayDate" name="date"
    required>
    <mat-datepicker-toggle matSuffix [for]="pickerDate"></mat-datepicker-toggle>
    <mat-datepicker #pickerDate ></mat-datepicker>
  </mat-form-field>

 <mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Time</mat-label>
  <input matInput [ngxTimepicker]="picker" [(ngModel)]="time" name="time" required>
<ngx-material-timepicker #picker ></ngx-material-timepicker>
</mat-form-field>

     <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" [(ngModel)]="title" name="title" required>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description" [(ngModel)]="description" rows=10, name="description" required></textarea>
      </mat-form-field>

<div mat-dialog-actions class="justify-content-end">
    <button mat-raised-button color="primary" (click)="closeDialog()">Exit</button>
  <button mat-raised-button color="primary" (click)="addTodo()" [disabled]="!addTodoForm.form.valid" type="submit">{{buttonText}}</button>
</div>
</form>
