.actions {
  margin-left: 1px;
}

.alarm_add_button {
  margin-right: 4px;
}

.edit_button {
  margin-right: 4px;
}

.mat_card_title {
  color: rgb(128, 128, 128);
  /* color: rgb(194, 197, 204); */
}

.mat_card_details {
  color: rgb(169, 169, 169);
}
